@model SBPatients.Models.DispensingUnit

@{
    ViewData["Title"] = "Dispensing Unit Details";
}

<h2>Details</h2>

<div>
    <h4>DispensingUnit</h4>
    <hr />
    <dl>
        <dt>
            Dispensing Code
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DispensingCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DispensingCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
