@model IEnumerable<SBPatients.Models.DispensingUnit>

@{
    ViewData["Title"] = "Dispensing Units";
}

<h2>List of Dispensing Units</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dispensing Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DispensingCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DispensingCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DispensingCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DispensingCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
