@model SBPatients.Models.ConcentrationUnit

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ConcentrationUnit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Concentration Code :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConcentrationCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ConcentrationCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
